<template>
    <div :class="colsize">
        <label :for="id" class="form-label">{{label}}</label>
        <div class="input-group has-validation">
            <span v-if="group" class="input-group-text">{{group}}</span>
            <input :type="type" class="form-control" :id="id" :name="field" 
                :placeholder="placeholder" :autocomplete="autocomplete" 
                :value="value" :required="required"
                @input="inputValue = $event.target.value">
            <div v-if="error" class="invalid-feedback d-block">
                {{error}}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'id',
            'field',
            'placeholder',
            'type',
            'label',
            'prefix',
            'size',
            'group',
            'autocomplete',
            'value',
            'required',
            'validation',
        ],
        computed: {
            colsize() {
                return this.size ? 'col-' + this.size : 'col-12';
            }
        },
        methods: {
        },
        data: function() {
            return {
                error: '',
                inputField: this.field,
                inputValue: this.value,
            }
        }
    }
</script>