<template>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" :id="id" :name="field">
        <label class="form-check-label" :for="id"><slot></slot></label>
    </div>
</template>

<script>
    export default {
        props: [
            'id',
            'field'
        ]
    }
</script>