<template>
    <form class="validated-form" @submit.prevent="submitForm">
        <div class="row g-3">
            <slot></slot>
        </div>
    </form>
</template>

<script>
    export default {
        methods: {
            submitForm() {
                var result = {};
                var validation = {};
                this.$slots.default.forEach(item => {
                    if (!item.tag) return;
                    if (item.tag == "input" && item.data && item.data.attrs) {
                        result[item.data.attrs.name] = item.data.attrs.value;
                    }
                    else if (item.componentInstance) {
                        var comp = item.componentInstance;
                        if (comp && comp.inputField) {
                            comp.error = "";
                            result[comp.inputField] = comp.inputValue;
                            if (comp.validation) {
                                validation[comp.inputField] = comp.validation;
                            }
                        }
                    }
                });
                var validator = new DataValidator(validation);
                var validateResult = validator.validate(result);
                console.log('validation', validateResult, validator.errors);
                console.log('data', result);
                if (validateResult !== true) {
                    var errors = validator.errors;
                    this.$slots.default.forEach(item => {
                        if (!item.tag) return;
                        if (item.tag == "input" && item.data && item.data.attrs) {
                            result[item.data.attrs.name] = item.data.attrs.value;
                        }
                        else if (item.componentInstance) {
                            var comp = item.componentInstance;
                            if (comp && comp.inputField) {
                                var err = errors[comp.inputField];
                                if (err) {
                                    comp.error = err;
                                }
                            }
                        }
                    });
                    return;
                }
                if (typeof window[this.serializer] === "function") {
                    result = window[this.serializer](result);
                }
            }
        },
        props: [
            'target',
            'method',
            'ajax',
            'serializer',
            'validator',
        ]
    }
</script>